<div class="card mb-4">

    <div class="card-body p-2">
        <h5>Data:</h5>
        <h6 class="card-title text-center mb-1">
            {{weather.date}}
        </h6>
        <h5>Podsumowanie:</h5>
        <h6 class="card-title text-center mb-1">
            {{weather.summary}}
        </h6>
        <h5>Temperatura w stopniach C</h5>
        <h6 class="card-title text-center mb-1">
            {{weather.temperatureC}}
        </h6>
        <h5>Temperatura w stopniach F</h5>
        <h6 class="card-title text-center mb-1">
            {{weather.temperatureF}}
        </h6>
    </div>



</div>